body {
  --h1-size: 2em;
  --h2-size: 1.3em;
  --h3-size: 1.25em;
  --h4-size: 1.25em;
  --h5-size: 1.12em;
  --h6-size: 1.1em;
}

.cm-header-1 { color: #824407; }
.cm-header-2 { color: #b05d08; }
.cm-header-3 { color: #e07607; }
.cm-header-4 { color: #fa8f1c; }
.cm-header-5 { color: #fda848; }
.cm-header-6 { color: #ffbf75; }